<!DOCTYPE html>
<html lang="en">
<head>
  <title>Rjit Classrooms</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse" style="background-color: royalblue; color: white;">
  <div class="container-fluid">
    <div class="navbar-header" style="color: white:important;">
      <a class="navbar-brand" href="#">Rjit Classrooms</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
           <li><a href="/contact">Contact Admin</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user">Signup <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/studentreg">As student</a></li>
          <li><a href="/teacherreg">As teacher</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <h2>List of students registered</h2>

<table style="width: 100%" border="2">
    <th>Id</th>
    <th>name</th>
    <th>branch</th>
    <th>contact number</th>
    <th>year</th>
    <th>semester</th>
    <th>email</th>
    <th>status</th>
    <th>accept</th>
    <th>reject</th>
{% for i in data %}
    <tr><td>{{ i[0] }}</td>
    <td>{{ i[1] }}</td>
        <td>{{ i[2] }}</td>
        <td>{{ i[3] }}</td>
        <td>{{ i[4] }}</td>
        <td>{{ i[5] }}</td>
        <td>{{ i[6] }}</td>
        <td>{{ i[8] }}</td>
<td><a href="/upds?id={{ i[0] }}">Accept</a> </td>
    <td><a href="/updd?id={{ i[0] }}">Reject</a> </td>
    </tr>
    {% endfor %}
</table>
</div>
</div>

</body>
</html>
